<html>
<h1> Here is the list of your bookmarks with tag <%= @tag %></h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li> Name: <%=link.link_name%>
        URL: <%=link.link_url%>
        <% p link.tags %>
        Tags: <% link.tags.each { |tag| %>
          <%= "#{tag.tag_name}" %>
          <% } %>
    </li>
  <% end %>
</ul>

</html>
